@use "variables" as *;

body {
    font-family: $fuente-principal;
    color: $color-texto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-oscuro;
    font-weight: 700;
}

a {
    color: $color-primario;
    font-weight: 500;
    text-decoration: none;
    transition: $transicion-base;

    &:hover {
        color: $color-oscuro;
    }
}

.texto-primario {
    color: $color-primario;
}